@import './config.scss/variables.scss';
@import './config.scss/reset.scss';
@import './config.scss/rem-calc.scss';
@import './config.scss/btn.scss';
@import './config.scss/animations.scss';

html {
	font-family: 'Roboto', sans-serif;
	background: var(--primary-color);
}

main {
	max-width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
	margin: 0 auto;
}

html, body { height: 100%;
	background: var(--primary-color); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// #Region scrollBar
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--primary-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--branco);
  border-radius: 20px;
}

// #Endregion scrollBar

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
